@media (max-width:360px){
    .container.showcase-2 .col-xs-12.col-sm-12.col-md-7.col-lg-7.col-xl-7 .first-row,
.container.showcase-2 .col-xs-12.col-sm-12.col-md-7.col-lg-7.col-xl-7 .second-row{
    display: block;
    margin-bottom: 30px;
}
.carousel-caption .scroll{
    display: none;
 }

 .carousel-indicators {
    display: none;
    
}

.container .carousel .carousel-inner .first-slide-carousel-img{
    width: 500px;
    height: 200px;
}
}


@media (max-width:767px){


    h1{
        font-size: 32px;
        font-weight: 600;
        line-height: 45px;  
    }
    .container.showcase .row img{
        display: none;
    }

    h2{
        font-size: 24px;
        line-height: 24px;  
        font-weight: 600;     
    }

    p{
        font-size: 14px;
        font-weight: 400px;
        line-height: 20px;
        color: #00000099;
    }

    .carousel-caption{
        top: 20px;
    }

    .carousel-caption .button {
        display: none;
    }
    .carousel-caption .scroll{
       display: none;
    }
    

    .container.showcase-1 .row img{
        display: none;
    }

    .container.showcase-5 .energetic{
        width: 100%;
    }

    .container.showcase-5 .sm-banner {
        width: 100%;     
    }

    .container.showcase-5 input{
        width: 100%;
    }
    
    .container.showcase-5 .btn {
        right: 0;
        top: 10px;
    }

    .container.showcase-5 .toy-group{
        display: none;   
    }

    .lady-img-1 img{
    width: 100%;
    }

    .lady-img-1 {
        top: 64px;
    }

    .button-1 {
        display: block;
    }

    .button-1 .btn {
        margin-left: 0px;
        margin-top: 10px;
    }

    .container.showcase-8{
        margin-top: -15%;
    }

    .showcase-9  .footer .contact .contact-lists .contact-list p,
    .showcase-9  .footer-copyright p, 
    .showcase-9  .footer .social p{
   font-size: 16px;
}

.showcase-9  .footer .menu-list li a{
    font-size: 16px;
}
.footer-copyright{
    font-size: 12px;
}
.showcase-9  .footer .menu-list ul{
    margin-left: -36px;
}

}