@media (max-width:360px){
    .container.showcase-2 .col-xs-12.col-sm-12.col-md-7.col-lg-7.col-xl-7 .first-row,
.container.showcase-2 .col-xs-12.col-sm-12.col-md-7.col-lg-7.col-xl-7 .second-row{
    display: block;
    margin-bottom: 30px;
}


 .container .scroll {
    display: none;
}

 .carousel-indicators {
    display: none;
    
}

.carousel-inner .carousel-item h2 {
       
    font-size: 18px;
    
}

.container .carousel .carousel-inner .first-slide-carousel-img{
    width: 500px;
    height: 200px;
}

#carouselExampleIndicators .carousel-inner .carousel-item h2{
    font-size: 12px;
    line-height: 18px;
    bottom: auto;
} 
.container .button{
  display: none;
}
.container.showcase .row .image-1{
    display: none;
}
.showcase-6 .container .row{
    margin-left: -53px;
}

.showcase-6 .container .row .lady-img-1{
    display: none;
}
.showcase-6 .container .row .button-1{
    display: inline;
}

.container.showcase-5 .toy {
    display: flex;
    margin-top: 15px;
}

.container.showcase-5 .btn {
    right: 100px;
}

.container.showcase-5 .sm-banner .review {
    font-size: 12px;
    line-height: 18px;
}

.button-1 .btn {
    
 margin-left: 0px;
}
}



    @media only screen and (min-width: 367px) and (max-width: 768px){

    h1{
        font-size: 32px;
        font-weight: 600;
        line-height: 45px;  
    }
    .container.showcase .row img{
        display: none;
    }

    h2{
        font-size: 24px;
        line-height: 24px;  
        font-weight: 600;     
    }

    p{
        font-size: 14px;
        font-weight: 400px;
        line-height: 20px;
        color: #00000099;
    }

    .carousel-caption{
        top: 20px;
    }

    #carouselExampleIndicators .carousel-inner .carousel-item h2 {
        
        bottom: 40px;
    }

    .carousel-caption .button {
        display: none;
    }

    .container .scroll{
       display: none;
    }

    .container .button{
        display: none;
      }

      .showcase-1 .row img {
        width: 80%;
        margin-left: 30px;
    }

    .container.showcase-2 .col-xs-12.col-sm-12.col-md-7.col-lg-7.col-xl-7 .first-row, .container.showcase-2 .col-xs-12.col-sm-12.col-md-7.col-lg-7.col-xl-7 .second-row{
        display: inline;
    }
    .container.showcase-5 .energetic{
        width: 100%;
    }

    .container.showcase-5 .sm-banner {
        width: 100%;     
    }
    .container.showcase-5 .lg-banner {
        margin-left: 23px;
    }

    .container.showcase-5 input{
        width: 100%;
    }
    
    .container.showcase-5 .btn {
        right: 0;
        top: 10px;
    }

     .container.showcase-5 .toy-group{
        margin-top: 100px;
        margin-bottom: -100px;        
    } 

    .lady-img-1 img{
    width: 86%;
    }

    .lady-img-1 {
        top: 64px;
    }

    .button-1 {
        display: block;
    }

    .button-1 .btn {
        margin-left: 0px;
        margin-top: 10px;
    }

    .container.showcase-8{
        margin-top: -15%;
    }

    .showcase-9  .footer .contact .contact-lists .contact-list p,
    .showcase-9  .footer-copyright p, 
    .showcase-9  .footer .social p{
   font-size: 12px;
   line-height: 18px;
}

.showcase-9 .footer .menu-list li a {
    font-size: 12px;
    line-height: 18px;
}

.showcase-9  .footer .menu-list li a{
    font-size: 12px;
}
.footer-copyright{
    font-size: 12px;
}
.showcase-9  .footer .menu-list ul{
    margin-left: -36px;
}

}

@media only screen and (min-width: 769px)and (max-width: 1024px) {
    .container .button {
       
        top: 725px;
     
    }

    .container .scroll {
        display: none;
    }

    .carousel-inner .carousel-item h2 {
       
        font-size: 24px;
        
    }

    #carouselExampleIndicators .carousel-inner .carousel-item h2 {
        
        bottom: 90px;
    }

    .container .button {
        top: 750px;
    }

    .lady-img-1 {
        right: 0px;
    }

    .container.showcase-5 .energetic-group h1{
        font-size: 18px;
    }

    .container.showcase-5 .sm-banner .review {
        font-size: 12px;
        line-height: 18px;
    }
    .container.showcase-5 .toy {
        display: flex;
        margin-top: 5px;
    }

    .container.showcase-5 .btn {
        right: 150px;
    }
}